head
	link(rel="stylesheet" href="css/index.css")
body
	header Hello
	.header
		h1 Name
		img(src="img/259994785_448724183302399_5654734890572699860_n.jpg")
		p textsafasfsa
	footer авпр
	script(src="js/main.js")